@page "/counter"

<h1>Counter</h1>
<h2>See if pipeline has made some changes</h2>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount+=3;
    }
}
